body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.app {
  margin: 50px auto;
  width: 400px;
}

.item--high {
  color: red;
}

.item--low {
  color: lightgray;
}

.id {
  display: inline-block;
  width: 50px;
}

.text {
  display: inline-block;
  width: 240px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

input {
  width: 204px;

}

button, select {
  margin-left: 10px;
  cursor: pointer;
}

select {
  width: 70px;
}

.edit, .save {
  width: 40px;
}

.delete, .cancel {
  width: 50px;
  border: none;
}

.cancel {
  color: gray;
}

.delete {
  color: red;
}